<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/signup.css" />
  </head>
  <body>
    <img
      src="/images/login-bg.jpg"
      alt="background image"
      width="200px"
      height="180px"
    />

    <form>
      <input type="text" placeholder="firstname" id="firstname" value="erfan" />
      <input type="text" placeholder="lastname" id="lastname" value="erfan2" />
      <input type="text" placeholder="username" id="username" value="erfan3" />
      <input type="text" placeholder="password" id="password" value="erfan4" />

      <button type="button" id="signup-btn">signup</button>
    </form>

    <script src="/javascripts/signup.js"></script>
  </body>
</html>
